/* "*" belgisi barcha elementlarga murojaatni anglatadi*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
/*bloklarning width ni o`zgarishini verstka uchun qulay qilib beradi*/
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
/*quyidagi teglarni blok qilib beradi*/
nav,
footer,
header,
aside {
  display: block;
}
/*elementlarning hossalarini barcha brauzerlar uchun mo`tadillashtirib beradi*/
html,
body {
  font-family: "Lato", sans-serif;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjusst: 100%;
  -moz-text-size-adjusst: 100%;
  -webkit-text-size-adjust: 100%;
  // background: rgb(2, 0, 36);
  // background: linear-gradient(
  //   0deg,
  //   rgb(46, 102, 187) 15%,
  //   rgb(147, 194, 204) 100%
  // );
}
/*quyidagi teglarning shriftlar oilasini vorislashi taminlanadi*/
input,
button,
textarea {
  font-family: inherit;
}
/*turli brauzerlarning o`ziga xos hususiyatlarini olib tashlash*/
input:-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button:-moz-focus-innesr {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
/*sarlavharning odatdagi stillarini nullashtirish*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.container__left {
  width: 100%;
  & img {
    z-index: 1;
    object-fit: cover;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
  }
}

.brand {
  z-index: 11;
  position: absolute;
  top: 10%;
  left: 7%;
  color: #fff;
  font-size: 17px;
  font-weight: 600;
}

.weather__info {
  z-index: 2;
  position: absolute;
  top: 73%;
  left: 7%;
  width: 42%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 1090px) {
    width: 46%;
  }
  @media (max-width: 840px) {
    width: 48%;
  }
  @media (max-width: 800px) {
    width: 80%;
    top: 22%;
  }
}

.weather__gradus {
  display: flex;
  align-items: flex-end;
  color: white;
  font-weight: 500;
  font-size: 75px;
  line-height: 30px;
  @media (max-width: 950px) {
    font-size: 65px;
  }
  @media (max-width: 485px) {
    font-size: 50px;
  }
  @media (max-width: 390px) {
    font-size: 40px;
  }
}

.weather__location {
  & h2 {
    color: white;
    font-weight: 500;
    font-size: 50px;
    line-height: 40px;
    @media (max-width: 950px) {
      font-size: 45px;
    }
    @media (max-width: 485px) {
      font-size: 35px;
    }
    @media (max-width: 390px) {
      font-size: 28px;
    }
  }
}

.weather__time {
  display: flex;
  & p {
    color: white;
    font-size: 14px;
    line-height: 30px;
    @media (max-width: 485px) {
      font-size: 11px;
    }
  }
}

.weather__type {
  display: flex;
  align-self: flex-end;
  color: white;
  font-size: 20px;
  line-height: 35px;
  @media (max-width: 485px) {
    font-size: 15px;
  }
}

.container__right {
  z-index: 5;
  position: absolute;
  top: 0;
  right: 0;
  width: 35%;
  height: 100%;
  padding: 30px;
  background: rgba(110, 110, 110, 0.25);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  // overflow-y: scroll;
  @media (max-width: 800px) {
    width: 100%;
    top: 45%;
    // height: 100%;
  }
}

.container__right::-webkit-scrollbar {
  display: none;
}

.search__input {
  display: flex;
  justify-content: space-between;
  & .input {
    border: none;
    background: none;
    align-self: flex-end;
    width: 70%;
    height: 30px;
    font-size: 20px;
    padding: 15px 0;
    color: #fff;
    border-bottom: 1px solid #ccc;
  }
  & .input::placeholder {
    color: white;
    font-size: 16px;
  }
  & .search__icon {
    cursor: pointer;
    width: 70px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(241, 245, 247);
    @media (max-width: 430px) {
      width: 60px;
    height: 55px;
    }
  }
  .search__icon:hover {
    transition: 1s;
    background-color: rgb(198, 202, 204);
  }
}

.regions {
  margin-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ccc;
  max-height: 170px;
  overflow: hidden;
  overflow-y: auto;
  & p {
    cursor: pointer;
    font-weight: 100;
    font-size: 16px;
    line-height: 40px;
    color: white;
    transition: transform 0.5s ease;
  }
  & p:hover {
    transform: scaleY(1.2) translateX(10px);
  }
}

.regions::-webkit-scrollbar {
  display: none;
}

.weather__detailes {
  margin-top: 25px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
  & h4 {
    color: white;
    font-size: 22px;
    font-weight: 600;
    padding-bottom: 20px;
  }
  & .single__details {
    & p {
      display: flex;
      justify-content: space-between;
      color: white;
      font-size: 16px;
      line-height: 40px;
    }
  }
}

.error {
  z-index: 7;
  position: absolute;
  top: 30%;
  left: 7%;
  color: red;
  font-size: 30px;
  font-weight: 500;
}
